*::before, *::after {
    box-sizing: border-box;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.modal-backdrop.fade {
    opacity: 0.5;
}

.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
body {
 /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; */
  background-color: #fff;
}
.modal-open {
    overflow: hidden;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out 0s;
}
.modal-dialog {
    margin: 30px auto;
    width: 600px;
}
/*.modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
}*/
.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
.modal-body {
    padding: 15px;
    position: relative;
}
.modal-footer::before, .modal-footer::after {
    content: " ";
    display: table;
}
.modal-footer::after {
    clear: both;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px 15px 15px 0;
    text-align: right;
    position: relative;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}

.bootbox .bootbox-close-button {
    margin-top: -10px !important;
}
button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    margin-top: -5px;
}
button {
    height: 36px;
    min-width: auto;
    overflow: visible;
}
.modal-header {padding: 15px 15px; border-bottom: 1px solid #e5e5e5; text-transform: uppercase; }
.modal-title {margin: 0; line-height: 1.42857143; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 700; color: #000;}

.modal-body .form-wizard .form-group { margin-bottom: 10px;}
.modal-body .form-wizard label { font-weight: 700;}

.modal-footer input[type="text"] { height: 36px;}
.modal-footer .error-inner { position: absolute; bottom: -10px; font-size: 14px;}
.modal-footer .wrong_withdraw_pin { position: absolute; bottom: -10px; font-size: 14px; display: block; width: 100%; left: 0; text-align: left;}

/*.modal .bootbox-close-button.close:focus, .modal .bootbox-close-button.close:hover { color: #000; text-decoration: none; cursor: pointer; filter: alpha(opacity=50); opacity: .5;}

.modal .bootbox-close-button.close {-webkit-appearance: none;padding: 0;cursor: pointer; background: 0 0; border: 0;}
.modal .bootbox-close-button.close {float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20);opacity: .2; margin-top: 0; width: inherit; height: inherit; background-image: none !important;} */

/* Bootstrap Modal */


/*.modal-open {
    overflow: hidden
}
.modal {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0 }
.modal.fade .modal-dialog {-webkit-transition: -webkit-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out; -webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); -o-transform: translate(0, -25%); transform: translate(0, -25%) }
.modal.in .modal-dialog {-webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0) }
.modal-open .modal {overflow-x: hidden; overflow-y: auto }
.modal-dialog {position: relative; width: auto; margin: 10px }
.modal-content {position: relative; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #999; border: 1px solid rgba(0, 0, 0, .2); border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5); box-shadow: 0 3px 9px rgba(0, 0, 0, .5) }
.modal-backdrop {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; background-color: #000 }
.modal-backdrop.fade {filter: alpha(opacity=0); opacity: 0 }
.modal-backdrop.in {filter: alpha(opacity=50); opacity: .5 }
.modal-header {padding: 15px; border-bottom: 1px solid #e5e5e5; text-transform: uppercase; } */
/*.modal-header .close {margin-top: -2px }*/
/*.modal-title {margin: 0; line-height: 1.42857143 }
.modal-body {position: relative; padding: 15px }
.modal-footer {padding: 15px; text-align: right; border-top: 1px solid #e5e5e5 }
.modal-footer .btn+.btn {margin-bottom: 0; margin-left: 5px }
.modal-footer .btn-group .btn+.btn {margin-left: -1px }
.modal-footer .btn-block+.btn-block {margin-left: 0 }
.modal-scrollbar-measure {position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll }

.modal .btn-primary{background: rgb(119, 207, 165) none repeat scroll 0 0; border-radius: 0; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font-family: "Code"; font-size: 16px;font-weight: 700; letter-spacing: 0.1em; line-height: 1.42857143;width: auto; padding: 8px 12px 6px 14px; transition: all 0.3s ease-in-out 0s; margin-bottom: 0; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent;}

.modal .btn-primary:active, .modal .btn-primary:hover{ background: #000; }

@media (min-width: 768px) {.modal-dialog {width: 600px; margin: 30px auto }
    .modal-content {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5); box-shadow: 0 5px 15px rgba(0, 0, 0, .5) }
    .modal-sm {width: 300px }
}
@media (min-width: 992px) {
    .modal-lg {width: 900px }
}
.modal-body .share-popup { padding: 0px; } */
