
/* @default Base */
.chosen-container { text-align:left; position: relative; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; -webkit-user-select: none; -moz-user-select: none; user-select: none; width:100% !important;}
.chosen-container a {  cursor: pointer;}

.chosen-container-single .chosen-single { position: relative; display: block; overflow: hidden; text-transform:none; font-weight:normal; padding: 0 0 0 15px; height:46px; line-height:46px; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;  background:#fff url(../images/select-icon-down.png) no-repeat right center; color: #999; border:1px solid #d9d9d9; font-size:15px; font-family: 'Open Sans'; text-decoration: none; white-space: nowrap; transition:none;}
.chosen-container-single .chosen-single span { display: block; overflow: hidden; margin-right: 40px; text-overflow: ellipsis; white-space: nowrap; color:#000;}
.chosen-container-single .chosen-single div { position: absolute; top:6px; right: 0; display: block; width:42px; height: 100%;}
.chosen-container-single .chosen-single div b { display: block;}

.chosen-container-active .chosen-single { background:url(../images/select-icon-down.png) no-repeat right center;}
.chosen-container-active.chosen-with-drop .chosen-single {}
.chosen-container-active.chosen-with-drop .chosen-single div {  border-left: none; background: transparent; }
.chosen-container-active.chosen-with-drop .chosen-single div b { background:url(../images/select-hover-icon02.png) no-repeat right 0; display:block; width:42px; height:32px;}

.chosen-container .chosen-drop { position: absolute; top:40px; left: -9999px; z-index: 1010;  width:100%; border-top: 0; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  border: 1px solid #FFFFFF; }
.chosen-container-single .chosen-drop { margin-top:6px; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; background-clip: padding-box; }
.chosen-container.chosen-with-drop .chosen-drop {left:0px;}

.chosen-container .chosen-results { position: relative; overflow-x: hidden; overflow-y:auto; padding: 0 0; margin:0;  max-height: 320px; -webkit-overflow-scrolling: touch; border-radius:3px;}
.chosen-container .chosen-results li { display: none; margin: 0; text-transform:none; font-weight:normal; padding:0 20px; list-style: none; background:#F5F5F5; line-height: 38px; -webkit-touch-callout: none; color:#000;  font-size:15px;}
.chosen-container .chosen-results li.active-result {  display: list-item; cursor: pointer;}
.chosen-container .chosen-results li.even{ background:#fff}
.chosen-container .chosen-results li.no-results {display: list-item; background: #f4f4f4;}
.chosen-container .chosen-results li.highlighted {
  background-color: #0c6baa;
  color: #fff;
}
.chosen-container-single .chosen-search { position: relative; z-index: 1010; margin: 0; padding:0; white-space: nowrap; }
.chosen-container-single .chosen-search input[type="text"] { margin: 1px 0; padding: 4px 20px 4px 5px; width: 100%; height: auto; outline: 0; border: 1px solid #aaa;}
.chosen-container-single .chosen-search input[type="text"] { position: absolute; left: -9999px;}

.android-chosen-select{ display:block !important; width:100%; height:50px;}