@charset "utf-8";
/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
	1. Mobile
	2. Large Mobile
	3. iPad
	4. large desktop
	5. Other
*/

/* 1. Mobile responsive css 640px
------------------------------------------------------------------------------*/
@media (max-width:640px) {
	.container{ padding-left:10px; padding-right:10px;}
	p{ margin-bottom:10px; font-size:14px; line-height:18px;}
	h1,h2,h3,h4,h5,h6{ margin-bottom:10px;}
	h1{ font-size:30px; line-height:34px; margin-bottom:10px;}
	h2{ font-size:26px; line-height:30px;}
	
	/* header */
	.mobile-nav-icon{ display:block;}
	header nav{ display:none;}
	header .logo{ width:180px; margin-bottom:15px;}
	header .header-right{ clear:both;}
	header .header-right{ margin-top:0;}	
	header .header-right .header-right-bottom a{ padding:5px 10px;}
	header .header-right .header-right-bottom a:before{ top:6px;}
	.mobile-nav-block{ display:block;} 
	header .header-right .header-right-top .vendor-money{ margin-left:10px;}
	
	
	/* footer */
	footer .footer-top .footer-top-left{ padding-top:0; width:100%;}
	footer .footer-top .footer-top-left .support{ float:none; width:115px; margin-bottom:10px; text-align:center;}
	footer .footer-top .footer-top-left .contact-info:before{ display:none;}
	footer .footer-top .footer-top-left .support img{ width:40px; float:none;}
	footer .footer-top .footer-top-left .support .support-txt{ padding:0 10px; float:none;}
	footer .footer-top .footer-top-left .support .support-txt span.big-txt{ font-size:25px; line-height:25px;}
	footer .footer-top .footer-top-left .support .support-txt span{ font-size:12px; line-height:16px;}
	footer .footer-top .footer-top-left .contact-info{ margin:0 auto 10px; padding:0 0px; width:300px; float:none;}
	footer .footer-top .footer-top-left .contact-info span{ font-size:15px;}
	footer .footer-top .footer-top-left .contact-info .contact-info-label{ width:65px;}
	footer .footer-top .footer-top-right{ float:none; width:225px;}
	footer .footer-top .footer-top-right div.faq:before{ display:none;}
	footer .footer-top .footer-top-right .faq{ padding:23px 10px;}
	footer .footer-top .footer-top-right .faq a{ font-size:40px; line-height:40px;}
	footer .footer-top .footer-top-right .social-links{ padding:11px 0 10px 10px;}
	footer .footer-top .footer-top-right .social-links a{ margin-left:5px; font-size:25px;}
	footer .footer-middle{ padding:15px 0 10px;}
	footer .footer-middle nav ul li{ margin:0 0 5px 0; font-size:12px; line-height:16px; display:block;}
	footer .footer-bottom{ padding:15px 0 10px;}
	footer .footer-bottom p{ font-size:12px; line-height:16px;}
	
	/*--------- home page ------------*/
	/* banner */
	.banner{ height:550px;}
	.banner .banner-txt{ width:100%;}
	.banner .banner-txt .banner-txt-inner p{ font-size:14px;}
	.banner .banner-txt .banner-txt-inner a{ padding:5px 15px; font-size:16px; line-height:15px;}
	.banner .banner-txt .banner-txt-inner a span{ font-size:12px; line-height:16px;}
	
	/* servicess group*/
	.services-grp{ padding-bottom:10px;}
	.services-grp .service-box{ width:100% !important; margin:0 0 10px 0; padding:10px 10px;}
	.services-grp .service-box .service-img{ width:13.9%; margin-top:10px;}
	.services-grp .services-grp-top{ margin-bottom:0;}
	.services-grp .service-box .service-txt span{ font-size:16px; line-height:20px;}
	.services-grp .service-box .service-txt p{ font-size:14px; line-height:18px;} 
	
	
	/* steps content */
	.steps-content{ padding:10px 0;}
	.steps-content h2{ margin-bottom:20px; padding-bottom:10px;} 
	.steps-content .steps-block{ width:100%; margin:0 0 20px 0;}
	.steps-content .steps-block .steps-title-inner span{ font-size:24px;}
	.steps-content .steps-block a{ padding:5px 10px; font-size:14px; line-height:18px;}
	
	/* about contet */
	.about-block{ padding-top:30px;} 
	.about-block .about-block-left{ width:100%; margin-bottom:20px;}
	.about-block .about-block-right{ width:100%;}
	h5{ font-size:25px; line-height:29px;}
	.about-block .about-block-right .about-img{ margin-bottom:10px;}
	
	/*--------- inner page ------------*/
	.banner.inner-banner{ height:100px;}
	.content-block img{  width:50%; display:block; float:none; margin:0 auto;} 
	.payment-option{ width:100%;}	
	.payment-option ul{ width:100%;}
	
	/*--------- login/register page ------------*/
	.login-content{ padding-bottom:20px;}
	.title{ padding:10px 0; margin-bottom:20px;}
	.register-form{ width:100%; border-right:0 none; border-bottom:1px solid #e5e5e5; padding:0 0 20px 0; margin-bottom:20px;}
	.login-form{ width:100%;}
	.register-form span.register-title, .login-form span.login-title{ margin-bottom:20px; font-size:18px; line-height:22px;}	
	.form-div{ width:100%; margin-left:0;}
	input[type="submit"], input[type="button"], input[type="reset"]{ display:block; width:100%;}
	.register-content.register-form p{ font-size:14px; line-height:18px;}
	.register-content.register-form ul{ margin-left:25px;}
	.register-content.register-form ul li{ list-style-position:outside; margin-bottom:10px; font-size:14px}

	/*--------- profile page ------------*/
	.profile-content{ padding-bottom:20px;}
	.account-content .account-content-left{ width:100%; margin-bottom:20px; padding-right:0; border-bottom:1px solid #e5e5e5;}
	.profile-content .account-content .account-content-right{ width:100%; border:0 none; padding-left:0;}	
	.account-content .account-content-right{ width:100%; padding-left:0; border-left:0 none;}
	.breadcrums{ padding:10px 0 0 0;}
	.breadcrums a{ font-size:10px;}
	.breadcrums span{ font-size:12px; padding:0;}
	
	/*--------- transactions page ------------*/
	.transactions-content .transactions-content-left{ width:100%; margin-bottom:20px;}
	.transactions-content .transactions-content-right{ width:100%;}	
	
	/*--------- faq page ------------*/
	.faq-content{ padding:30px 0;}
	.faq-content .faq-content-left{ width:100%}
	.faq-content .faq-content-right{ width:100%;}
	.accordion .accordion-title{ font-size:15px; line-height:19px; }
	.accordion .accordion-content{ padding:10px 20px;}
	
	/*--------- contact page ------------*/
	.contact-content{ padding:30px 0;}
	.contact-content .contact-content-left{ width:100%;}
	.contact-content .contact-content-right.contact-info{ width:100%; padding:10px;}
	.contact-content p span{ font-size:16px;}
	#map iframe{ height:230px;}
	
	/*--------- how to load money page ------------*/
	.howtoload-content p:first-child{ font-size:14px;}
	.howtoload-content{ padding:30px 0;}
	.howtoload-content .howtoload-title{ padding:10px 0;}
	.howtoload-content .howtoload-title span.second-title{ font-size:14px; margin-top:0px; margin-left:0;}
	.howtoload-content .howtoload-content{ padding:10px 0;}
	.howtoload-content .howtoload-content .bank-block{ width:100%; margin-left:0; margin-bottom:20px;}
	.howtoload-content .howtoload-content .bank-block span{ font-size:18px; margin-bottom:5px;}
	.howtoload-content .howtoload-content .bank-block .bank-logo{ margin-bottom:5px; padding:5px;}
	.howtoload-content .howtoload-content .bank-block a{ font-size:14px;} 
	.howtoload-content .howtoload-content .vendor-block{ width:100%; padding:10px 0px; border-left:0 none; border-bottom:1px solid #ccc;}
	.howtoload-content .howtoload-content .vendor-block .vendor-name{ font-size:18px; margin-bottom:10px;}
	.howtoload-content .howtoload-content p span{ font-size:15px;}	
	.howtoload-content .howtoload-content a{ font-size:16px;}
	
	/*--------- my credits page ------------*/
	.my-credits-content .search-box{ margin-bottom:20px;}
	.search-box .input-grp{ width:100%; margin-left:0;}
	.credit-table table tr td{ padding:10px;}
	.credit-table table tr td.date{ width:38%;}
	.credit-table table tr td.amount{ width:62%;}
	
	/*--------- transaction history page ------------*/
	
	.transaction-history-content .credit-table table thead{ display:none;}
	.transaction-history-content .credit-table table tbody tr td[data-rwd-label]::before{ display:inline-block;}
	.transaction-history-content .credit-table table tr td{ display:block; padding:10px;}
	.transaction-history-content .credit-table table tbody tr td span.block{ display:inline-block;}
	.profit-detail span{ display:block; margin:0 0 0px 0;}
}


/* 2. Large Mobile responsive css 640px
------------------------------------------------------------------------------*/
@media (min-width:641px) and (max-width:767px) {
	
	.container{ padding-left:10px; padding-right:10px;}
	h1{ font-size:36px; line-height:40px;}
	h2{ font-size:34px; line-height:38px;}
	
	/* header */
	.mobile-nav-icon{ display:block;}
	header nav{ display:none;}
	header .header-right{ clear:both;}
	header .header-right{ margin-top:0;}
	.mobile-nav-block{ display:block;} 
	
	header .header-right .header-right-top{ margin:5px 20px 0px 0; float:left;}
	header .header-right .header-right-top .vendor-money{ margin-left:10px;}
	
	
	/* footer */
	footer .footer-top .footer-top-left .support img{ width:40px;}
	footer .footer-top .footer-top-left .support .support-txt{ padding:0 5px;}
	footer .footer-top .footer-top-left .support .support-txt span.big-txt{ font-size:25px; line-height:25px;}
	footer .footer-top .footer-top-left .support .support-txt span{ font-size:12px; line-height:16px;}
	footer .footer-top .footer-top-left .contact-info{ margin:0; padding:0 10px;}
	footer .footer-top .footer-top-left .contact-info span{ font-size:15px;}
	footer .footer-top .footer-top-left .contact-info .contact-info-label{ width:65px;}
	footer .footer-top .footer-top-right .faq{ padding:23px 10px;}
	footer .footer-top .footer-top-right .faq a{ font-size:40px; line-height:40px;}
	footer .footer-top .footer-top-right .social-links{ padding:11px 0 10px 10px;}
	footer .footer-top .footer-top-right .social-links a{ margin-left:5px; font-size:25px;}
	footer .footer-middle{ padding:15px 0;}
	footer .footer-middle nav ul li{ margin-left:10px; font-size:12px; line-height:16px;}
	footer .footer-bottom{ padding:15px 0;}
	footer .footer-bottom p{ font-size:12px; line-height:16px;}
	
	/*--------- home page ------------*/
	/* banner */
	.banner{ height:450px;}
	.banner .banner-txt .banner-txt-inner a{ padding:10px 25px;}
	
	/* servicess group*/
	.services-grp{ padding-bottom:10px;}
	.services-grp .service-box{ width:100% !important; margin:0 0 20px 0; padding:20px 10px;}
	.services-grp .service-box .service-img{ width:13.9%;}
	.services-grp .service-box .service-img img{ max-width:65px;}
	.services-grp .services-grp-top{ margin-bottom:0;}
	
	/* steps content */
	.steps-content{ padding:30px 0;}
	.steps-content h2{ margin-bottom:30px; padding-bottom:5px;}  
	.steps-content .steps-block .steps-title-inner span{ font-size:24px;}
	.steps-content .steps-block a{ padding:5px 10px;}
	
	/* about contet */
	.about-block{ padding-top:30px;} 
	
	/*--------- inner page ------------*/
	.banner.inner-banner{ height:100px;}	
	.content-block img{  width:40%; }
	.payment-option{ width:100%;}	
	.payment-option ul{ width:100%;}
	
	/*--------- login/register page ------------*/
	.title{ padding:20px 0; margin-bottom:20px;}
	.register-form{ width:100%; border-right:0 none; border-bottom:1px solid #e5e5e5; padding:0 0 20px 0; margin-bottom:20px;}
	.login-form{ width:100%;}
	.register-form span.register-title, .login-form span.login-title{ margin-bottom:20px;}
	
	/*--------- profile page ------------*/
	.account-content .account-content-left{ width:100%; margin-bottom:20px; border-bottom:1px solid #e5e5e5;}
	.account-content .account-content-right{ width:100%; border:0 none; padding-left:0;}
	
	/*--------- transactions page ------------*/
	.transactions-content .transactions-content-left{ width:100%; margin-bottom:20px;}
	.transactions-content .transactions-content-right{ width:100%;}

	/*--------- faq page ------------*/
	.faq-content{ padding:30px 0;}
	.faq-content .faq-content-left{ width:100%}
	.faq-content .faq-content-right{ width:100%;}
	
	/*--------- contact page ------------*/
	.contact-content{ padding:30px 0;}
	.contact-content .contact-content-left{ width:100%;}
	.contact-content .contact-content-right.contact-info{ width:100%;}
	
	/*--------- how to load money page ------------*/
	.howtoload-content{ padding:30px 0;}
	.howtoload-content .howtoload-title span.second-title{ font-size:16px; margin-top:13px; margin-left:0;}
	.howtoload-content .howtoload-content{ padding:20px 0;}
	.howtoload-content .howtoload-content .bank-block span{ font-size:18px; margin-bottom:5px;}
	.howtoload-content .howtoload-content .bank-block .bank-logo{ margin-bottom:5px; padding:5px;}
	.howtoload-content .howtoload-content .bank-block a{ font-size:14px;} 
	.howtoload-content .howtoload-content .vendor-block{ padding:0 15px;}
	.howtoload-content .howtoload-content .vendor-block .vendor-name{ font-size:20px;}
	
	/*--------- my credits page ------------*/
	.my-credits-content .search-box{ margin-bottom:20px;}
	.search-box .input-grp{ width:49%;}
	
	/*--------- transaction history page ------------*/
	.search-box .input-grp:nth-child(2n+1){ margin-left:0;}
	.transaction-history-content .credit-table table thead{ display:none;}
	.transaction-history-content .credit-table table tbody tr td[data-rwd-label]::before{ display:inline-block;}
	.transaction-history-content .credit-table table tr td{ display:block;}
	.transaction-history-content .credit-table table tbody tr td span.block{ display:inline-block;}
} 


/* 3. iPad responsive css 768px to 1023px
------------------------------------------------------------------------------*/
@media (min-width:768px) and (max-width:1023px) {
	
	.container{ padding-left:10px; padding-right:10px;}
	h1{ font-size:40px; line-height:44px;}
	h2{ font-size:34px; line-height:38px;}
	h3{ font-size:24px; line-height:28px;}
	h4{ font-size:20px; line-height:24px;}
	
	/* header */
	header .logo{ width:200px;}
	nav{ padding:55px 0 20px 35px;}
	nav ul li{ margin-left:15px;}
	header .header-right{ margin-top:0;}
	header .header-right .header-right-top{ margin:5px 20px 0px 0; float:left;}
	header .header-right .header-right-top .vendor-money{ margin-left:10px;}
	nav ul li a:hover:before{ display:none;}
	
	/* footer */
	footer .footer-top .footer-top-left .support img{ width:50px;}
	footer .footer-top .footer-top-left .support .support-txt{ padding:0 10px;} 
	footer .footer-top .footer-top-left .support .support-txt span.big-txt{ font-size:30px; line-height:30px;}
	footer .footer-top .footer-top-left .support .support-txt span{ font-size:14px; line-height:18px;}
	footer .footer-top .footer-top-left .contact-info{ margin:0; padding:0 10px;}
	footer .footer-top .footer-top-right .faq{ padding:23px 15px;}
	footer .footer-top .footer-top-right .faq a{ font-size:40px; line-height:40px;}
	footer .footer-top .footer-top-right .social-links{ padding:8px 0 8px 15px;}
	footer .footer-top .footer-top-right .social-links a{ margin-left:15px;}
	footer .footer-middle{ padding:15px 0;}
	footer .footer-bottom{ padding:15px 0;}
	
	/*--------- home page ------------*/
	/* banner */
	.banner{ height:500px;}
	.banner .banner-txt .banner-txt-inner a{ padding:10px 25px;}
	
	/* servicess group*/
	.services-grp{ padding-bottom:10px;}
	.services-grp .service-box{ width:100% !important; margin:0 0 20px 0;}
	.services-grp .service-box .service-img{ width:13.9%;}
	.services-grp .service-box .service-img img{ max-width:65px;}
	.services-grp .services-grp-top{ margin-bottom:0;}
	
	/* steps content */
	.steps-content{ padding:30px 0;}
	.steps-content h2{ margin-bottom:30px; padding-bottom:5px;} 
	.steps-content .steps-block .steps-title-inner span{ font-size:24px;}
	.steps-content .steps-block a{ padding:5px 10px;}
	
	/* about contet */
	.about-block{ padding-top:30px;} 
	
	/*--------- inner page ------------*/
	.banner.inner-banner{ height:150px;}
	.content-block img{  width:35%; }
	.payment-option{ width:60%;}
	
	/*--------- login/register page ------------*/
	.title{ padding:20px 0;}
	/*--------- profile page ------------*/
	.account-content .account-content-left{ padding-right:20px;}
	.account-content .account-content-right{ padding-left:20px;}	
	
	/*--------- transactions page ------------*/
	.transactions-content .transactions-content-left{ width:100%; margin-bottom:20px;}
	.transactions-content .transactions-content-right{ width:100%;}
	
	
	/*--------- my credits page ------------*/
	.my-credits-content .search-box{ margin-bottom:20px;}
	.search-box .input-grp{ width:49%;}
	
	/*--------- transaction history page ------------*/
	.search-box .input-grp:nth-child(2n+1){ margin-left:0;}
	.transaction-history-content .credit-table table tr td{ padding:10px;}
	


	/*--------- faq page ------------*/
	.faq-content{ padding:30px 0;}
	
	/*--------- contact page ------------*/
	.contact-content{ padding:30px 0;}
	.contact-content .contact-content-right.contact-info{ padding:10px;}
	
	/*--------- how to load money page ------------*/
	.howtoload-content{ padding:30px 0;}
	.howtoload-content .howtoload-title span.second-title{ font-size:16px; margin-top:13px;}
	.howtoload-content .howtoload-content{ padding:20px 0;}
	.howtoload-content .howtoload-content .bank-block span{ font-size:20px; margin-bottom:10px;}
	.howtoload-content .howtoload-content .bank-block .bank-logo{ margin-bottom:10px; padding:10px;}
	.howtoload-content .howtoload-content .bank-block a{ font-size:16px;} 
	.howtoload-content .howtoload-content .vendor-block{ padding:0 30px;}
	.howtoload-content .howtoload-content .vendor-block .vendor-name{ font-size:22px;}
	
}

/* 4. large desktop responsive css 1024px to 1199px
------------------------------------------------------------------------------*/
@media (min-width:1024px) and (max-width:1170px) {	
	.container{ padding-left:10px; padding-right:10px;}
	nav{ padding-left:25px;}
	nav ul li{ margin-left:15px;}
	header .header-right .header-right-top .vendor-money{ margin-left:15px;}
	nav ul li a:hover:before{ display:none;}
	
	/*--------- inner page ------------*/
	.payment-option{ width:60%;}
	
	/*--------- faq page ------------*/
	.faq-content{ padding:30px 0;}
	
	/*--------- my credits page ------------*/
	.my-credits-content .search-box{ margin-bottom:20px;}
	.search-box .input-grp{ width:49%;}
	
	/*--------- transaction history page ------------*/
	.search-box .input-grp:nth-child(2n+1){ margin-left:0;}
	.transaction-history-content .credit-table table tr td{ padding:10px;}
	
}

/* 5. Other media-query
------------------------------------------------------------------------------*/

