
body {
  background: #F9F8F8;
} 
/* ---------- list  --------- */

.list {
}

.list th, .list td {
}

th {
  text-align: left;
  background: #D6DFF7;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

A.tbw, A:visited.tbw, A:hover.tbw {font-family:Arial,Verdana,Helvetica;font-size:10px;text-decoration:none;color:#ffffff}
A:hover.tbw {text-decoration:underline}


A.tbw-1, A:visited.tbw-1, A:hover.tbw-1 {font-family:Arial,Verdana,Helvetica;font-size:10px;text-decoration:none;color:#ffffff}
A:hover.tbw-1 {text-decoration:underline}

A.redmatter, A:visited.redmatter, A:hover.redmatter {font-family:Arial,Verdana,Helvetica;font-size:10px;text-decoration:none;color:#ff0000}
A:hover.redmatter {text-decoration:underline}




th a:link, th a:visited, th a:active {
  color: #000000;
  text-decoration: none;
}

th a:hover {
  text-decoration: underline;
}

.sort {
	background-color: #ABBEEF; 
}

.evenrowbg {
	background-color: #F0F0F0; 
}

.oddrowbg {
	background-color: #ffffff;
}

/* ---------- form  --------- */

.footnote {
   padding-top: 2px;
	padding-left: 12px;
	text-align: left;
	color: #666666;
}

legend {
  color: #0046D5;
}

.formFields td {
  text-align: left;
}

.name,
.nameError {
  font-weight: bold;
  color: #555555;
}

.error {
  background: #ffd9d9;
}

.error .name {
  color: #cc0000;
  background: transparent;
}

.error .hint {
  color: #333333;
}

.required {
  color: #cc0000;
}

.formFields td.unlimited {
  border-left: none;
}

.formFields td.limit {
  border-right: none;
}

.hint {
  color: #555555;
}

.formButtons {
	padding-top: 5px;
}


/* ---------- misc elements --------- */

.pathbar {
  background: #ffffff;
  color: #444444;
}

.pathbar a:link,
.pathbar a:visited {
  color: #444444;
}

.screenTitle {
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.screenTitle td {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #000000;
}

.screenTitle .name,
.screenTitle b {
  font-weight: normal; 
  color: #0D1DE0; 
}

.specific {
  font-weight: bold;
}

.reportIndex a:link,
.reportIndex a:visited {
  color: #333333;
}

.reportSection {
  border-top: 1px solid #cccccc;
/*  background: #ffffff; */
}

a.mailalias:link,
a.mailalias:visited {
  color: #555555; 
}

.notdelitems {
	color: #444444;
}

code {
	font-family: Courier, mono;
	font-size: 10px;
	color: #444444;
}

.code {
	font-family: Courier, mono;
	font-size: 10px;
}

hr {
  color: #cccccc;
  background-color: #cccccc;
  height: 1px;
}

/* ---------- gauge elements --------- */

td.barOverFilled {
  background:  url(../images/fill-over.gif);
}

td.barFilled {
  background:  url(../images/fill.gif);
}

td.barEmpty {
  background:  url(../images/empty.gif);
}


/* ---------- common buttons --------- */

.commonButton button,
.commonButton {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: transparent;
}

.commonButton button {
  background-image:  url(../images/btn_bg.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
}

.commonButton button[disabled] {
  background-image:  url(../images/btn_bg-disabled.gif); 
  color: #999999;
}  

/* ---------- big icon buttons  --------- */
.toolsArea .commonButton {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 32px 0 0 0;
  width: 111px;
  height: 27px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  float: left;
  text-decoration: underline;
  background-image:  url(../images/bth_default-button_bg.gif);
}

.toolsArea span.commonButton {
  cursor: default;
  color: #999999;
  text-decoration: none;
}

.toolsArea button {
  display: none;
}

.formArea .toolsArea .commonButton span {
  display: inline;
}

.toolsArea .screenButtons .commonButton span {
  background: none;
}

/* ---------- small icon buttons  --------- */

.buttons .commonButton,
.reportTools .commonButton,
.uplevel .commonButton {
  background: none;
}

.listArea .buttons .commonButton button,
.reportTools .commonButton button,
.uplevel .commonButton button {
	display: none;
}

.buttons .commonButton span,
.reportTools .commonButton span,
.uplevel .commonButton span {
  background-position: 0 1px;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 20px;
  text-decoration: underline;
  cursor: hand;
  cursor: pointer;
  padding-top: 1px;
  padding-bottom: 4px;
}


/* buttons as buttons */
.formArea .commonButton span,
.formButtons .commonButton span,
.paging .commonButton span {
  display: none;
}

.formButtons button,
.formArea button,
.paging .commonButton button {
  width: 91px;
  height: 21px;
  text-align: center;
}

.welcomeTitle2{
  font-size: 15px;
  font-weight:bold;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #069;
}

.exportButton{
	border:solid 1px #09C; 
	padding:3px; 
	color:#036; 
	cursor:pointer;
	font-weight:bold;
}
.exportButton:hover{
	border:solid 1px #09C; 
	padding:3px; 
	color:#06F; 
	cursor:pointer;
	font-weight:bold;
}
                      
