/* here you can put your own css to customize and override the theme */


/***
Rounded Portlets
***/


/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


/*
Change Quick Sidebar Width
*/


/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.actions .btn-xs>i {
    font-size: 13px;
}

.fileinput.fileinput-new div.radio {
    display: none;
}

.dashboard-stat:hover {
    color: #444 !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    /*box-shadow: 0 0 0 #fff,0 0 1px rgba(0,0,0,.6) inset;*/
    box-shadow: 0 0 3px rgba(0, 0, 0, .13), 0 3px 6px rgba(0, 0, 0, .26);
}

.dashboard-stat .visual i {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}

.dashboard-stat:hover .visual i {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.page-header.navbar .page-logo .logo-default {
    margin: 9px;
}

span.single_radio_question {
    position: absolute;
    margin: 8px 0 0 5px;
}
html{
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    height: 100%;
}

select.language_change {
    background: none;
    padding-right: 67px;
    color: #c5c5c5;
}

.languages {
    float: left;
    line-height: 46px;
}

span.language_selection {
    height: 46px;
    line-height: 46px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 41px;
    color: #BC2622;
}

.popover {
    top: 77px;
    left: 779.484px;
    display: block;
}

.page-header.navbar .page-logo {
    padding: 0 !important;
}

.page-header .page-header-top {
    background: #1f1f1f none repeat scroll 0 0;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a>i,
.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover>i,
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a>i,
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a:hover>i {
    color: #fff;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a,
.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover,
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a,
.page-header .page-header-menu .hor-menu .navbar-nav>li.current>a:hover {
    color: #fff;
}

.page-header .page-header-top .top-menu .navbar-nav .dropdown-toggle,
.page-header .page-header-top .top-menu .navbar-nav .dropdown-toggle:focus,
.page-header .page-header-top .top-menu .navbar-nav .dropdown-toggle:active,
.page-header .page-header-top .top-menu .navbar-nav .dropdown-toggle:hover {
    background-color: transparent !important;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    background-color: transparent !important;
}
.form .form-actions.right {
    padding-left: 0;
    padding-right: 10px;
    text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) { 
 .form-horizontal .control-label {
    text-align: left;
 }
}
.btn_action{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.order_invoice{
    position:absolute;
    right: 0;
}
.text-heading{
    color: white;
    margin: 30px 0px;
    display: inline-block;
}
.dashboard-table{
    width: 50%;
}
.order_detail_div{
    font-size: 14px; 
}
@media (max-width:480px) {
    .login .logo img{
        width: 280px;
    }
    .text-heading{
        color: white;
        margin: 10px 0px 30px;
        display: inline-block;
    }
    .dashboard-table{
        width: 100%;
    }
}
@media (max-width: 991px){
 .page-content{
     padding: 15px 0 15px;
}

.order_invoice {
        position: relative;
        right: 0;
    }
}
@media (max-width: 480px){
    .page-header .top-menu {
        background-color : transparent !important;
    }
    .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
        margin-right: 0; 
    }
}
.page-header .page-header-top .menu-toggler {
    margin: 23px 3px 23px 13px;
}
.nav>li>a>img {
    max-width: 50px;
}
.total_cost{
    float: right;
    position: relative;
    /* right: 77px; */
    right: 50px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 60px auto !important;
    }
}

.fixWidthTH{
   width: 100px !important; 
}
table.table-po-detail thead>tr>th{
    white-space: initial !important;
    vertical-align: top !important;
}
.passMeter-bad{background-color:#fcbdbd;}
.passMeter-low{background-color:#ff9a68;}
.passMeter-good{background-color:#70beff;}
.passMeter-strong{background-color:#9ef78c;}
.error-number-inner{
    color: red;
}
.download_pdf {
    /* display: none; */
}
@media (max-width: 768px) {
    .order_email_div .col-md-3 {
        padding-top: 10px !important;
    }
    .po_email_div .col-md-3 {
        padding-top: 10px !important;
    }
}
@media (min-width: 768px) {
    .order_email_div .col-md-3 {
        padding-top: 10px !important;
    }
    .po_email_div .col-md-3 {
        padding-top: 10px !important;
    }
}
.hidden-light-red{
    background-color: #f2dede !important;
}
.hide_show_po{
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 5px;
}
.hide_show_po span {
    display: inline-block;
    vertical-align: middle;
}
.hide_show_po #uniform-show_hide_po {
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
}
.purchase-order-action{
    display: block;
}
.purchase-order-action .po-action-div{
    display: inline-block;
}
.bootstrap-switch .bootstrap-switch-handle-on{
    padding-bottom: 5px !important;
}
.bootstrap-switch .bootstrap-switch-handle-off{
    padding-bottom: 5px !important;
}
