BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f6f6;

	scrollbar-face-color: #336699;
	scrollbar-highlight-color:;
	scrollbar-shadow-color: ;
	scrollbar-3dlight-color:;
	scrollbar-arrow-color:  ;
	scrollbar-track-color:;
	scrollbar-darkshadow-color:;

}
TD {
	FONT-SIZE: 11px;  FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}

INPUT {
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
	bgcolor: #ffff00
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
/* A:link {
	COLOR: #0240a3
}
A:visited {
	COLOR: #0240a3
}
A:active {
	COLOR: #000000
}
*/
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}

.errormsg
{
font-weight: bold;
  color: #FF0066;
}
.disprecordmsg
{
font-weight: bold;
  color: #336699;
}
.datedisp
{
font-weight: bold;
  color: #FFFFFF;
}

.topLeftTitle
{
font-weight: bold;
FONT-SIZE: 15px;
  color: #FFFFFF;
}

.topHead2 {
  font-weight: Bold;
  font-family: Tahoma; 
  font-size: 11px;
  color: #00FF00;
}
.tdcontentblack 
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; }
	
.tdcontentblack:link { text-decoration: none; color: "#ffffff"; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; }

.tdcontentblack:visited { text-decoration: none; color: "#ffffff"; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; }

.tdcontentblack:hover { text-decoration: none; color: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; }


.toplink
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; }
	
.toplink:link { text-decoration: none; color: "#ffffff"; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; }

.toplink:visited { text-decoration: none; color: "#ffffff"; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; }

.toplink:hover { text-decoration: none; color: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none; }


.titleMenu
{
font-weight: bold;
FONT-SIZE: 12px;
  color: #FF0099;
}


.INPUT2 {
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color :  #ff0000
}
.redmatter{
	Font-size:10
}
.cmsBox1{
	border:5px solid #000;
	width:200px;
	min-height:200px;
	padding:5px;
}