body, form {
 padding: 0;
}

body {
  padding-bottom: 0px;
}

td {
  vertical-align: top;
}


.td-new {
  vertical-align: bottom;
}

.td-new1 {
  vertical-align: middle;
}

.td-new2 {
  vertical-align: bottom;
}

.td-listing {
  vertical-align: middle;
  font-weight: none;
  color: #555555;
}

.td-login {
  vertical-align: middle;
  font-weight: BOLD;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 25px;
  color: #FFFFFF;
}

.listlink:link { text-decoration: none; color: "#555555"; font-family: vTahoma; font-size: 11px; font-weight: bold; }

.listlink:visited { text-decoration: none; color: "#555555"; font-family:Tahoma; font-size: 11px; font-weight: bold; }

.listlink:hover { text-decoration: none; color: #000000; font-family:Tahoma; font-size: 11px; font-weight: bold; text-decoration: none; }




.paginglink:link { text-decoration: none; color: #FFFFFF; font-family: Tahoma; font-size: 11px; font-weight: bold; }

.paginglink:visited { text-decoration: none; color: #FFFFFF; font-family:Tahoma; font-size: 11px; font-weight: bold; }

.paginglink:hover { text-decoration:underline; color: #FFFFFF; font-family:Tahoma; font-size: 11px; font-weight: bold; }

.toplogout:link { text-decoration: none; color: #FFFFFF; font-family: vTahoma; font-size: 11px; font-weight: bold; }

.toplogout:visited { text-decoration: none; color: #FFFFFF; font-family:Tahoma; font-size: 11px; font-weight: bold; }

.toplogout:hover { text-decoration: none; color: #FFFFFF; font-family:Tahoma; font-size: 11px; font-weight: bold; text-decoration: underline; }


th {
  vertical-align: middle;
  white-space: nowrap;
}

.pathbar {
	padding: 10px 10px 0 11px;
}

.screenBody {
  margin: 0 10px;
}

.uplevel {
  text-align: right;
}

.screenTitle {
  margin: 0;
  vertical-align: middle;
}

.screenTitle td {
  padding: 3px 12px 5px 11px;
  vertical-align: middle;
}


.screenTitle img,
.screenTitle td,
.screenTitle input,
.screenTitle select {
  vertical-align: middle;
}

.reportSection {
  margin: 10px 0;
}

.reportTools,
.reportTools img,
.reportTools input,
.reportTools select {
	vertical-align: middle;
}

.reportIndex {
  margin: 15px 0;
}

.reportSection {
  padding-top: 5px;
}

p, hr {
  margin: 5px 0;
}

.screenButtons {
  width: 666px; 
}

.msgWarning {
  margin: 10px 0;
}

.msgWarning img {
  float: left;
  margin-right: 5px;
}

hr {
  clear: both;
}

/* ---------- list  --------- */

.listArea td input,
.listArea td select {
  vertical-align: middle;
}

.list td,
.list th {
	padding: 3px;
}

.number {
  text-align: right;
}
.number {
  text-align: right;
}

.search input,
.search .commonButton {
  margin-right: 7px;
  vertical-align: middle;
}

.list {
  border-collapse: collapse;
}

.buttons {
  margin: 7px 0;
}

.buttons div {
  white-space: nowrap;
}

.buttons input,
.buttons .commonButton {
  vertical-align: middle;
}

.misc {
  text-align: right;
}

.main input {
	margin-right: 7px;
}
.main .commonButton {
  margin-right: 14px;
}

.misc input {
  margin-left: 7px;
}
.misc .commonButton {
  margin-left: 14px;
}

th a {
  vertical-align: middle;
}

th img {
  vertical-align: middle;
  padding-left: 3px;
}

.paging {
  margin: 7px 0;
  vertical-align: middle;
}

.paging input, 
.paging .commonButton, 
.paging select {
  vertical-align: middle;
  margin-right: 7px;
}

.paging select {
  margin-right: 3px;
}

.select {
	text-align: center;
}

/* ---------- form  --------- */

.formArea {
/*  width: 695px; */
}

.formFields {
  border-collapse: collapse;
  margin-top: 2px;
}

.formFields td {
  padding: 3px;
  vertical-align: top;
}

.formFields input,
.formFields select {
  vertical-align: middle;
}

.formFields td.name,
.formFields td.nameError {
  vertical-align: top;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 200px;
}

td.unlimited {
  vertical-align: middle;	
}

fieldset {
 margin: 0px 0;
 padding: 10px;
}

.screenButtons {
  padding: 8px 0 0 0;
}

legend {
  margin-bottom: 5px;
  margin-left: -9px;
  padding-right: 5px;
  vertical-align: top;
  padding-bottom: 3px;
}

option.dummyLine {
	color: #ffffff;
}

#searchInput {
	margin-left: -1px;
}

fieldset > legend {
  margin-left: -2px;
}

legend img {
  vertical-align: middle;
}

fieldset p {
  margin: 5px 0;
}

.option {
  margin-bottom: 5px;
}

.formButtons {
  text-align: right;
  margin-top: 5px;
}

.formButtons input,
.formButtons button {
  margin-left: 7px;
}

.formFields td.limit {
  padding-right: 25px;
  white-space: nowrap; 
  width: 140px;
}

.formFields td td.limit {
  padding-left: 0px;
}

.fieldButtons input,
.fieldButtons button {
  margin: 5px 5px 0 0; 
}

textarea {
  width: 98%;
}

.checkbox,
.radiobox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
}

#chkProceed {
	margin-left: 3px;
}

legend .checkbox,
legend .checkbox,
.formFields .checkbox,
.formFields .radiobox {
  margin-right: 3px;
}

.suboption {
	margin-left: 18px;
}

/* ---------- misc --------- */

.commonButton {
  display: inline;
}

a.mailalias {
  margin-left: 20px; 
}

.gaugeArea {
  margin: 2px 0;
}

.gaugeLayout td {
  border: none;
  padding: 0;
}

/* ---------- for login --------- */

#login {
  /*width: 450px;*/
  width: 270px;
  margin: auto;
  margin-top: 40px;
}

#get_password {
	text-align: left;
	padding-left: 0;
}

#get_password a:link, 
#get_password a:visited {
	color: #444444;
}

#loginForm {
	padding: 10px;
	border-bottom: 1px solid #D1CBD0;
	border-left: 1px solid #D1CBD0;
	border-right: 1px solid #D1CBD0;
}
/* ---------- mail name states --------- */

#fldset-mailInfo td,
#fldset-mailInfo td img,
#fldset-mailInfo td a  {
  vertical-align: middle;
}

#fldset-mailInfo td a:link,
#fldset-mailInfo td a:visited  {
  color: #444444;
}

#fldset-mailInfo td img  {
  margin-right: 3px;
}

#fldset-mailInfo td  {
  width: 25%;
}

/* ---------- bottom fieldsets for server screen --------- */

#fldset-admin_info {
	width: 410px;
	float: left;
   margin-right: 12px;
}

#fldset-admin_info .screenButtons {
	width: 333px;
}

#fldset-power  .screenButtons {
	width: 222px;
}

/* TTS */

#tts_list pre {
	white-space: normal;
	margin: 10px 10px 10px 10px;
}

#tts_list .tts_data {
	width: 20%;
	white-space: nowrap;
	padding-left: 0;
	padding-right: 20px;
	font-weight: bold;
   color: #444444;
}

.tts_created_by {
	width: 60%;
}

.tts_public {
	width: 20%;
	text-align: right;
	white-space: nowrap;
}

.tts_created_by,
.tts_created_by img,
.tts_public,
.tts_public img {
	vertical-align: middle;
}


#navArea IMG {
	DISPLAY: block; MARGIN: 0px
}
#navArea {
	PADDING-BOTTOM: 60px; PADDING-TOP: 12px
}
#navArea .node IMG {
	DISPLAY: inline; MARGIN: 0px; VERTICAL-ALIGN: middle
}
#navArea .nodeActive IMG {
	DISPLAY: inline; MARGIN: 0px; VERTICAL-ALIGN: middle
}
.navOpened {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(../images/nav_bg.jpg); MARGIN-BOTTOM: 15px; BACKGROUND-REPEAT: repeat-y
}
.navTitle {
	CURSOR: hand; moz-user-select: none
}
.navTitleOver {
	CURSOR: hand; moz-user-select: none
}
.navOpened .navTitle {
	HEIGHT: 22px
}
.navOpened .navTitleOver {
	HEIGHT: 22px
}
.navOpened .navTitle .titleText {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.navOpened .navTitleOver .titleText {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.navOpened .titleLeft {
	VERTICAL-ALIGN: top; WIDTH: 14px
}
.navOpened .titleRight {
	VERTICAL-ALIGN: top; WIDTH: 3px
}
.navOpened .titleHandle {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/navopened.gif); BACKGROUND-REPEAT: no-repeat
}
.navClosed {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(../images/nav_bg.jpg); MARGIN-BOTTOM: 15px; BACKGROUND-REPEAT: repeat-y
}
.navClosed .navTitle {
	HEIGHT: 22px
}
.navClosed .navTitleOver {
	HEIGHT: 22px
}
.navTitle .titleHandle {
	WIDTH: 20px
}
.navTitleOver .titleHandle {
	WIDTH: 20px
}
.navClosed .navTitle .titleText {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.navClosed .navTitleOver .titleText {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle
}
.navClosed .titleLeft {
	VERTICAL-ALIGN: top; WIDTH: 14px
}
.navClosed .titleRight {
	VERTICAL-ALIGN: top; WIDTH: 3px
}
.navClosed .titleHandle {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/navclosed.gif); BACKGROUND-REPEAT: no-repeat
}
DIV.tree {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 1px; MARGIN-RIGHT: 1px; PADDING-TOP: 3px
}
.navOpened .tree {
	DISPLAY: block
}
.navClosed .tree {
	DISPLAY: none
}
.node {
	PADDING-RIGHT: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px
}
.nodeActive {
	PADDING-RIGHT: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px
}
.node .name {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; PADDING-TOP: 2px
}
.nodeActive .name {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; PADDING-TOP: 2px
}
.nodeImage {
	BACKGROUND-POSITION: right 50%; PADDING-LEFT: 11px; WIDTH: 27px; BACKGROUND-REPEAT: no-repeat
}
#navLayout .nodeActive .name A {
	TEXT-DECORATION: none
}
#navLayout .nodeActive .name A:hover {
	TEXT-DECORATION: none
}
#navLayout .nodeActive .name A:visited {
	TEXT-DECORATION: none
}
#navLayout .nodeActive .name A:active {
	TEXT-DECORATION: none
}
#navLayout .name A {
	TEXT-DECORATION: underline
}
#navLayout .name A:hover {
	TEXT-DECORATION: underline
}
#navLayout .name A:visited {
	TEXT-DECORATION: underline
}
#navLayout .name A:active {
	TEXT-DECORATION: underline
}

.input2
{
	border : thin dotted Ff6600;
	background-color : Ff6600;
}

.inputWidth{
	width:220px;
}

/* ------------------------css menu start ----------------------*/
div#myslidemenu {
	background:transparent url('../img/menu/menu_m.png') repeat-x scroll 0 0;
	position:relative;
	top:0;
	left:0;
	color:#646464;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:150%;
}
ul.menu {
	clear:both;
	float:none;
	cursor:pointer;
	z-index:1;
	position:relative;
}
div#myslidemenu ul {
	margin:0px;
	padding:0px;
	list-style:none;
	float:left;
	z-index:2;
	position:relative;
}
div#myslidemenu li {
	position:relative;
	margin:0px;
	padding:0px;
	display:block;
	overflow:visible;
	float:left;
	height:30px;
	z-index:3;
}
div#myslidemenu li a {
	height:30px;
	display:block;
	float:left;
	line-height:30px;
	text-decoration:none;
	color:#646464;
	overflow:hidden;
	z-index:4;
	position:relative;
}
div#myslidemenu li span {
	color:#646464;
	display:block;
	padding:0 15px;
	background-repeat:no-repeat;
	background-position:95% 0px;
	z-index:6;
	position:relative;
}
div#myslidemenu li span.bg {
	display:block;
	background:transparent url('../img/menu/menu_level1_item.png') repeat-x scroll 0pt 100%;
	padding:0;
	height:30px;
	z-index:5;
	position:relative;
	float:left;
}
div#myslidemenu li.current {
	font-weight:bold;
}
div#myslidemenu li.current ul {
	font-weight:normal;
}
div#myslidemenu ul.menu ul {
	padding:0px 0px 10px;
	background:transparent url('../img/menu/menu_dropdown_bg.png') no-repeat scroll 0pt 100%;
	_background:transparent url('../img/menu/menu_dropdown_bg.gif') no-repeat scroll 0pt 100%;
	left:-999em;
	width:165px;
	position:absolute;
	margin-top:-3px;
	top:30px;
}
div#myslidemenu li:hover ul, div#myslidemenu li.hover ul, div#myslidemenu li.sfhover ul {
	left:0px;
	z-index:100;
	visibility:visible;
}
div#myslidemenu li li {
	width:100%;
	text-indent:0px;
	float:none;
	height:auto;
}
div#myslidemenu li li a, div#myslidemenu li li span.separator {
	margin:0px 1px;
	padding:0px;
	background:url('../img/menu/menu_level2_item.gif') no-repeat scroll 100% bottom;
	height:auto;
	float:none;
	display:block;
	line-height:25px;
	width:163px;
}
div#myslidemenu li li a.parent {
	background:url('../img/menu/menu_level2_item_parent.gif') no-repeat scroll 100% bottom;
}
div#myslidemenu li ul ul {
	margin:-31px 0 0 164px;
}
div#myslidemenu li:hover ul ul, div#myslidemenu li.sfhover ul ul {
	border-top:1px solid #ccc;
}
div#myslidemenu li:hover ul ul, div#myslidemenu li.sfhover ul ul, div#myslidemenu li:hover ul ul ul, div#myslidemenu li.sfhover ul ul ul, div#myslidemenu li:hover ul ul ul ul, div#myslidemenu li.sfhover ul ul ul ul {
	left:-999em;
}
div#myslidemenu li li:hover ul, div#myslidemenu li li.sfhover ul, div#myslidemenu li li li:hover ul, div#myslidemenu li li li.sfhover ul, div#myslidemenu li li li li:hover ul, div#myslidemenu li li li li.sfhover ul {
	left:0pt;
	z-index:100;
}
div#myslidemenu a:hover, div#myslidemenu a.hover {
	color:#FFF;
}
div#myslidemenu span:hover, div#myslidemenu span.hover {
	color:#900;
}
div#myslidemenu li ul span:hover, div#myslidemenu li ul span.hover {
	background-color:#F0D272;
	color:#600;
}
/* ------------------------css menu over ----------------------*/