
/* New CLASS */
.TableStyle
{
		background-color:#F9F8F8;
}
.ListHeadingbgcolor
{
	background-color:#6E92B9;
}
.ListTableHeading
{
	 color :White;
	 font-family : Verdana, Arial,Courier New, Times New Roman ;
	 font-size : 11px;
	 font-weight: bold;
	 PADDING-LEFT: 5px; 
}
.ListNormalText
{
	 color :Black;
	 font-family : Tahome,Verdana, Arial,Courier New, Times New Roman;
	 font-size : 11px;
	 padding-left: 15px;
}
.listheadinglinkClass {
	font-family: Tahome,Verdana, Arial,Courier New, Times New Roman;
	font-size: 11px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 1px;


}

.textboxcsscontent{
	font-family : Tahome,Verdana, Arial,Courier New, Times New Roman;
	font-size: 12px;
	color: #333333;
	border: 1px solid #0080C0;
	background-color: White;
}
.NormalLink {
	COLOR: #0240a3
}
.NormalLink:visited {
	COLOR: #0240a3
}
.NormalLink:active {
	COLOR: #000000
}

.listheadinglinkClass:hover {
	font-family: Tahome,Verdana, Arial,Courier New, Times New Roman;
	font-size: 11px;
	font-weight:bold;
	color: white;
	text-decoration: underline;
	
}
.textboxcss {
	font-family: Tahoma;
	font-size: 12px;
	color: #353433;
	border: 1px solid #0080C0;	
}

.comboboxcss {
	font-family: Tahoma;
	font-size: 12px;
	color: #353433;
	border: 1px solid #0080C0;
}

.ErrorText
{
	 color :#0240A3;
	 font-family : Verdana, Arial,Courier New, Times New Roman ;
	 font-size : 12px;
	 font-weight:bold;
}
.LeftTitle
{
	color: #0240A3;
	text-decoration: none;
	font-family : Tahoma,Verdana, Arial,Courier New, Times New Roman;
	font-size : 11px;
	padding-left: 25px;
	font-weight:bold;
}

.buttoncss {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#336699;
	height: 23px;
	border: 1px solid #FFFFFF;
}

.tableHeader_new{
background-color:#6E92B9; color:white;FONT-WEIGHT: bold; FONT-SIZE: 10pt;
}


/****** END NEW CLASS ****/


input,textarea
{
	background-color: #ffffff;
}


legend
{
	font-weight: bold;
	color: #000080;
}
fieldset
{
	border: 1 solid #336699;
}
.NN {
	FONT-SIZE: 1px; COLOR: #666666; LINE-HEIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.negro10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textoGris {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris_oscuro {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris10 {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.grisBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.grisBold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.grisBold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.grisBold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

.inputNar {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff6600 1px solid; WIDTH: 87px; COLOR: #000000; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px
}
.inputNar02 {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff6600 1px solid; WIDTH: 120px; COLOR: #000000; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px
}
.inputNar03 {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff6600 1px solid; WIDTH: 322px; COLOR: #000000; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px
}
.form {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.gristexto {
	FONT: 11px Arial, Helvetica, sans-serif; COLOR: #666666
}
.naranja {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.azul11B {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #1e638c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.grisEEEEEE {
	FONT-SIZE: 9px; COLOR: #eeeeee; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.linkgris10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linkgris11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.amarillo11 {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; COLOR: #0066CC; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.indentity {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #0066CC; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.rojo11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff3300; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris16 {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.gris9 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rojo13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.grisBcl10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.celeste11B {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.negro9 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksAzules11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.linksAzules111 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksAzules111:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksAzules111:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksAzules111:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.gris16oscuro {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris15oscuro {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris10oscuro {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksnar11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.gris12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris11Bcl {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.amar16 {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; COLOR: #ff9900; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nar15 {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.verde11 {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; COLOR: #389d02; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris_oscuro16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gris10link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.titlePan {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; OVERFLOW: hidden; COLOR: white; FONT-FAMILY: 'Verdana, Helvetica, Microsoft Sans Serif'; FONT-VARIANT: small-caps; 
}
.topTapTitleActive{
	FONT-WEIGHT: bold; FONT-SIZE: 11px;	
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none ; COLOR:WHITE
}
.middleTapTitleActive{
	FONT-WEIGHT: bold; FONT-SIZE: 11px;	
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none ; COLOR:#003366
}
A.toptap:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.toptap:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.toptap:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.toptap:hover {
	COLOR: #ffc453; TEXT-DECORATION: none
}

A.middletap:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.middletap:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.middletap:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.middletap:hover {
	COLOR: #ffb453; TEXT-DECORATION: none
}

A.mypage:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
A.mypage:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
A.mypage:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
A.mypage:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: darkred; TEXT-DECORATION: none
}

.tableHeaderBG{
	FONT-WEIGHT: bold; FONT-SIZE: 16px;	color:black;	FONT-FAMILY: Verdana, Arial, Helvetica,sans-serif;
	BACKGROUND-COLOR:#F4F8FF
}
.boxLoginColor{
	BACKGROUND-COLOR:white;BORDER-BOTTOM:#CCCCCC thin solid; BORDER-LEFT: #CCCCCC thin solid; BORDER-RIGHT:#CCCCCC thin solid
}
.boxLoginColor1{
	BACKGROUND-COLOR:white;BORDER-BOTTOM:#CCCCCC thin solid;   BORDER-RIGHT:#CCCCCC thin solid
}

.gray11
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.tableBorder1{
BORDER-RIGHT: #5f7995 1px solid; BORDER-TOP: #5f7995 1px solid; BORDER-LEFT: #5f7995 1px solid; BORDER-BOTTOM: #5f7995 1px solid
}
.tableListHeader{
background-color:#0569BA; color:white;FONT-WEIGHT: bold; FONT-SIZE: 10pt;
}
.selecttext
{
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND:#ffffff ; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 6px; HEIGHT: 25px; TEXT-ALIGN: left
}

.style2 {
	FONT-SIZE: 12px; COLOR: #666600
}
.style4 {
	COLOR: #666666
}
.style5 {
	FONT-SIZE: 14px; COLOR: #ff0000
}
.style6 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style7 {
	FONT-SIZE: 14px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style9 {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style10 {
	FONT-SIZE: 12px
}
.style13 {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style14 {
	FONT-SIZE: 14px
}
.style15 {
	COLOR: #ff0000
}
.style17 {
	COLOR: #003399
}
.style19 {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style20 {
	COLOR: #009966
}
.stylescript {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ff00ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}